.Buscador {
  margin-top: 120px;     
  display: flex;
  flex-direction: column;
  align-items: center;   
  text-align: center;
}
.boton{
    background-color:lightblue;


}
.Forma{
    color:lightblue;
}
.resultados {
  display: flex;
  flex-wrap: wrap;       
  gap: 20px;            
  justify-content: center;
  margin-top: 30px;
}

/* Cada serie */
.busquedas {
  width: 200px;
  text-align: center;
}
#fav{
color: 'white';
padding: '10px 20px';
border: 'none';
cursor: 'pointer';
}