.Buscador {
  margin-top: 120px;     /* Deja espacio debajo del NavBar */
  display: flex;
  flex-direction: column;
  align-items: center;   /* Centra horizontalmente */
  text-align: center;
}
.boton{
    background-color:lightblue;


}
.Forma{
    color:lightblue;
}