.Buscador {
  margin-top: 120px;     
  display: flex;
  flex-direction: column;
  align-items: center;   
  text-align: center;
}
.boton{
    background-color:lightblue;


}
.Forma{
    color:lightblue;
}